body {
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchEngine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.Result-content {
  display: flex;
  flex-direction: row;
}

.Result-data {
  width: 60%;
}

.Header {
  text-align: center;
}